@{
    ViewData["Title"] = "Home Page";
}
<div class="Container">
    @ViewData["Title"] 
    <div style="margin:5em;">
        <h1><span style="color:#70ad47;">Welcome To </span><span
                style="color:#002060">Zamara</span></h1>
        <p style="margin: 5em;">
            We are building towards the promise of a better today and a
            prosperous
            tomorrow with our trusted and simplified financial and insurance
            solutions that cater to your unique needs, whether individual or
            business.
        </p>
    </div>

    <div class="row" style="margin: 1em;">
        <div class="col-md-3">
            <h3>About US</h3>
            <p>-Our Leadership</p>
            <p>-Contact us</p>
        </div>
        <div class="col-md-3">
            <h3>Our Solutions</h3>
            <p>-Pension</p>
            <p>-Insurance</p>
        </div>
        <div class="col-md-3">
            <h3>Online Services</h3>
            <p>-Zamara Online Portal</p>
        </div>
        <div class="col-md-3">
            <h3>Resources</h3>
            <p>-Publications</p>
            <p>-Blogs & Articles</p>
        </div>

    </div>
</div>

